<div class="topbar"></div>
<nav class="navbar navbar-expand-lg bg-white py-0 border-bottom">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-3" href="home.html">
      <img src="assets/img/logo.jpg" alt="Logo" style="width:80px; height:80px; border-radius:8px;">
      <div>
        <p class="brand-title mb-0" >OtisonLMS</p>
      </div>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="topNav">
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-3">
        <li class="nav-item">
          <a class="nav-link active" href="home.html">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="courses.html">Khóa học</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="assignments.html">Bài tập</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="connect_anon.html" id="connectBtn">Kết nối bạn học</a>
        </li>
      </ul>
      <div class="d-flex ms-lg-3 mt-3 mt-lg-0 gap-2">
        <a class="btn btn-outline-primary btn-sm px-3 d-none" id="dashboardBtn" href="dashboard.html">Dashboard</a>
        <button class="btn btn-outline-primary btn-sm px-3 d-none" id="userInfoBtn">Thông tin cá nhân</button>
        <a class="btn btn-outline-primary btn-sm px-4" id="registerBtn" href="register.html">Đăng ký</a>
        <button class="btn btn-primary btn-sm px-4" id="navAuthBtn" href="login.html">Đăng nhập</button>
      </div>
    </div>
  </div>
</nav>